

<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/Statistics">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Providers">Providers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Marbles">Marble</a>
            </li> 
        </ul>
    </nav>

    <router-outlet></router-outlet>
    
</div>


